* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: arial;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  background-color: #2c2c2c;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}
.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  color: #0084ff;
}
.logo span {
  color: greenyellow;
}
.lua {
  border-radius: 9999px;
  width: 30px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-icon-container {
  display: flex;
  align-items: center;
}
.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}
.nav-icon-container img:first-child {
  margin-right: 1rem;
}
nav ul li {
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}
nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}
.menu-button {
  display: none;
}
header {
  background-image: radial-gradient(#fff, #c7c7c7);
}
.header-bottom-side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}
.header-bottom-side-left {
  height: 100%;
  flex-basis: 50px;
}
.header-bottom-side-left h2 {
  font-size: 3.2rem;
  margin: 1.5rem;
  color: #2c2c2c;
}
.header-bottom-side-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.header-bottom-side-left button {
  background-color: #0084ff;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s;
}
.header-bottom-side-left button:hover {
  background-color: #004c94;
}
.header-bottom-side-rigth {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bottom-side-rigth img {
  width: 115%;
}

@media (max-width: 800px) {
  .logo {
    font-size: 1.2rem;
  }
  .lua {
    width: 25px;
  }
  .menu-button {
    display: block;
  }
  .header-bottom-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }
  nav {
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    top: 46px;
    display: none;
  }
  .show-menu nav {
    display: block;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }
}

main {
  background-color: #ebebeb;
}
.gray-background {
  background-color: #2c2c2c;
}
.page-inner-content {
  max-width: 1280px;
  margin: 0 auto;
}
.cols {
  display: grid;
  justify-content: space-evenly;
  padding: 4rem 1rem;
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.cols-3 img {
  max-width: 100%;
}
.cols-4 img {
  max-width: 100%;
}
.cols-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.cols > * {
  cursor: pointer;
  transition: all 0.2s;
}
.cols > *:hover {
  transform: translateY(-8px);
}
.section-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}
.subtitle-underline {
  width: 100px;
  height: 5px;
  background-color: #0084ff;
  border-radius: 9999px;
  margin: 8px auto 0 auto;
}
.product {
  color: #2c2c2c;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.product-name {
  font-weight: 600;
  margin-top: 0.4rem;
}
.rate {
  color: #0084ff;
  font-size: 1.3rem;
}
.product-price span {
  font-weight: 600;
}
.exclusive-container {
  color: #fff;
  flex-direction: row-reverse;
  padding: 5rem 1rem;
  text-align: center;
}
.exclusive-container img {
  max-width: 1200px;
}

@media (max-width: 800px) {
  .section-title {
    font-size: 1rem;
  }
  .cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-name,
  .product-price,
  .rate {
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }
  .exclusive-container {
    flex-direction: column-reverse;
    font-size: 1.2rem;
  }
  .exclusive-container img {
    margin-bottom: 4rem;
  }
}
/* Mail content/*
/* testmonial*/
.testimonials {
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.testimonial:hover {
  transform: translateY(-8px);
}
.testimonial p {
  margin: 5px 0;
}
.testimonial p:first-child {
  font-weight: bold;
  font-size: 5rem;
  color: #0084ff;
  margin-top: 3rem;
  line-height: 2rem;
}
.testimonial p:last-child {
  font-weight: bold;
}
/* Media queries*/
@media (max-width: 800px) {
  .testimonials {
    flex-direction: column;
  }
  .testimonial {
    margin-bottom: 1.2rem;
  }
}

/*footer*/
.footer-content {
  display: flex;
  align-items: center;
  color: #8f8f8f;
  padding: 4rem 1rem;
}
.download-options > * {
  margin: 1rem 0;
}
.download-options :first-child {
  font-weight: bold;
  color: #fff;
}
.download-options > div {
  display: flex;
}
.download-options > div img {
  width: 180px;
}
.logo-footer {
  text-align: center;
}
.links-footer {
  display: flex;
}
.links-footer h3 {
  color: #fff;
  margin-bottom: 1rem;
}
.links-footer ul {
  list-style: nonw;
}
.links-footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}
